{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'wcadb/colstyle.css' %}" />

<h1> Most participants from a country </h1>
{% if compinfo %}
        <table>
        <col width="250">
        <col width="250">
        <tr> 
        <th> Country</th>
        <th>Competitors</th>
        </tr>
    {% for person in compinfo %}
        <tr> 
        <td> {{person.countryid}}</td>
        <td> {{person.count}}</td>
        </tr>
    {% endfor %}    
     </table>
{% else %}
    <p>No information available for this competition. This is likely an error because database design doesn't allow this.</p>
{% endif %}
<a href="../">Back to Previous Page</a>



